/* Hoja de estilos Natural Way 2015 */

/* Listado de Contenido
	1.Parametros 
	2.Componentes
		2.1 Menu
		2.2 Slider
		2.3 Footer
		2.4 Formulario

*/

/* 1.Parametros */

	body{
		margin:0 auto;
		font-family:font-family: arial, verdana, sans-serif;
		font-size:14px;
	}

	/* Fuente titulo */
	@font-face {
		font-family:"titulo";
		src:url('../assets/fonts/fuentes/gisha.ttf');
	}
	/* Fuente Contenido */
	@font-face {
		font-family:"contenido";
		src:url('../assets/fonts/fuentes/gishabd.ttf');
	}

	/* Boton Formulario*/
	.btn-formulario{
		line-height:6px;
		vertical-align:middle;
		width:90px;
		height:26px;
		background:#7fbf50;
		color:white;
		border-radius:0;
		border-color:#7fbf50;
	}

	.btn-formulario:hover{
		background:#7fbf50;
		color:white;
		border-radius:0;
		border-color:#7fbf50;
	}

	.btn-formulario:focus{
		background:#7fbf50;
		color:white;
		border-radius:0;
		border-color:#7fbf50;
	}


/* 2.Componentes */

	/* 2.1 Menu */
	
	/* Centrar Barra Menu*/
	.navbar .navbar-nav {
	  display: inline-block;
	  float: none;
	  vertical-align: top;
	}

	.navbar .navbar-collapse {
	  text-align: center;
	}

	.navbar .navbar-collapse ul li:hover{
		background-color:#7fbf50;
	}

	.menu-top{
		background:white;
		position:relative;
		margin-top:-15px;
		border-bottom-color:none;
		box-shadow:none;
		border-bottom:none;
		
	}

	.imagen-titulo figure{
		text-align:center;
	}

	.barra-menu{
		background:green;
		width:100%;
		height:30px;
		
	}

	.menu-barra-top{
		margin-top:-15px;
	}
	.letra-menu{
		color:#f2f2f2;
		font-size:13px;
		line-height:30px;
	}

	.letra-menu p {
		height:35px;
		line-height:30px;
	}
	.letra-menu span{
		height:30px;
	}
	.letra-menu p a i{
		
		color:#f2f2f2;
	}

	/* 2.2 Slider */



	/* 2.3 Footer */

	footer{
		width:100%;
		height:250px;
		background-color:#f5f5f5;
	}

	.footer{
		padding-top:30px;
	}

	.footer-imagen-logo {
		text-align:right;
		border-right:1px solid gray;
	}

	.footer-redes-sociales{
		text-align:justify;
		padding-top:15px;
	}

	.footer-redes-sociales span{
		padding-right:8px;
		padding-left:8px;
	}

	.footer-redes-sociales span a i{
		color:gray;
	}

	.footer-redes-sociales span#footer-redes-sociales--twitter{
		border-right:1px solid gray;
		border-left:1px solid gray;
	}

	.footer-parrafo-superior {
		text-align:justify;
		padding-top:10px;
		display:inline-block;
		
	}
	.footer-parrafo-superior-centrar--span{
		text-align:center;
		line-height:19px;
	}
	
	#footer-span-centrar--superior,#footer-span-centrar--superior{
		display:table-cell;
 		vertical-align:middle;
	}
	span#footer-span-centrar--superior{
		font-size:10px;
		display:block;
		text-align:center;
	}

	span#footer-span-centrar--inferior{
		font-size:10px;
		display:block;
		text-align:center;
	}

	span#footer-span-centrar--medio--pbx{
		font-size:18px;
		display:inline-block;

	}

	span#footer-span-centrar--medio--pbx--numero{
		font-size:13px;
		display:inline-block;

	}

	span#footer-span-centrar--medio--telefono{
		font-size:48px;
		font-weight:bold;
		display:inline-block;
	}

	.footer-parrafo-inferior p{
		padding-top:15px;
		text-align:center;
		font-size:11px;
	}

	/* 2.4 Formulario */

	.formulario{
		padding-top:30px;
		padding-bottom:30px;
	}
	.formulario-label span{
		text-align:center;
		height:30px;
		background:gray;
	}

	.formulario-input input,.formulario-input textarea{
		background-color:#f5f5f5;
		border-radius:0;
		margin-top:-1px;
	}

	

	



